<template name="scenarioPage">
  {{#with currentScenario}}

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{> scenarioItem}}</div>

      <!-- Table -->
      <table class="table">
        {{#each rules}}
        <tr>
        <td>{{> ruleItem}}</td>
        </tr>
      {{/each}}
      </table>
    </div>

    <form>
      <div class="control-group">
          <div class="controls">
              <input type="submit" value="+ Add rule" class="btn btn-primary"/>
          </div>
      </div>
    </form>
    <!--
    {{#if currentUser}}
      {{> ruleSubmit}}
    {{else}}
      <p>Please log in to create a rule.</p>
    {{/if}}-->
  {{/with}}
</template>