<template name="scenarioPage">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{> scenarioItem}}</div>

      <!-- Table -->
      <table class="table">
        {{#each rules}}
          <tr>
          <td>{{> ruleItem}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
    <!--
    {{#if currentUser}}
      {{> ruleSubmit}}
    {{else}}
      <p>Please log in to create a rule.</p>
    {{/if}}-->
    <div class="control-group">
        <div class="controls">
            <button id="submit" class="btn btn-primary">+ Add rule</button>
        </div>
    </div>
  
</template>