<template name="resourceItem">
  <div class="resource-content">
  	  <div style="float: left; margin: 0px 10px 0px 5px">
  	  	{{#if isInput}}
  	  	<span class="glyphicon glyphicon-arrow-left"></span> 
  	  	{{else}}
  	  	<span class="glyphicon glyphicon-arrow-right"></span> 
  	  	{{/if}}
  	  </div>
	  <div style="float: right; display: inline-block; margin-right: 10px; margin-top: 10px">
	  	{{#if hasRules}}
	  	<a href="" class="btn" id="view-rules"><span class="glyphicon glyphicon-align-justify"></span></a>
	  	{{/if}}
	  	<a href="{{resourceEditPath this}}" id="edit-btn-resource" class="discuss btn edit-resource"><span class="glyphicon glyphicon-pencil"></span></a>
	  	<a href="" class="btn delete delete-resource"><span class="glyphicon glyphicon-trash"></span></a>
	  </div>
	  <div>
	    <h4>
	      <span class="author">{{title}}</span>
	    </h4>
	    <br>
	    Current value:<b> {{getNiceValue}} {{#if hasUnit}}{{unit}}{{/if}}</b><br>
	    Address:<b> {{address}}</b><br>
	    I/O-type:<b> {{getType}}</b><br>
	    Last updated:<b> {{getTimestamp}}</b>
	    
	    <div id="showRulesDiv-{{_id}}" hidden>

	    	<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Current rules:</div>

			  <!-- Table -->
			  <table class="table">
			    {{#each rules}}
			    <tr>
		    	<td>{{> ruleItem}}</td>
		    	</tr>
		    {{/each}}
			  </table>
			</div>
		</div>
	  </div>
  </div>
</template>