<template name="resourcePage">
  <ul class="rules">
    {{> resourceList}}
    </ul>
	
    <!--<ul class="rules">
      {{#each rules}}
        {{> ruleItem}}
      {{/each}}
    </ul>-->

    <form>
      <div class="control-group">
          <div class="controls">
              <input type="submit" value="+ Add resource" class="btn btn-primary"/>
          </div>
      </div>
    </form>
    <!--
    {{#if currentUser}}
      {{> ruleSubmit}}
    {{else}}
      <p>Please log in to create a rule.</p>
    {{/if}}-->
</template>