<template name="resourceList">
  <div class="resources">
  	<div class="panel panel-success">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Measurements<span class="glyphicon glyphicon-arrow-left" style="float: right"></span></div>
		  <table class="table">
		    {{#each resource}}
		    	{{#if isInput}}
			    <tr>
		    	<td>{{> resourceItem}}</td>
		    	</tr>
		    	{{/if}}
	    	{{/each}}
		  </table>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">Output<span class="glyphicon glyphicon-arrow-right" style="float: right"></div>
		  <table class="table">
		    {{#each resource}}
		    	{{#if isOutput}}
			    <tr>
		    	<td>{{> resourceItem}}</td>
		    	</tr>
		    	{{/if}}
	    	{{/each}}
		  </table>
		</div>
  </div>
	<form>
	  <div class="control-group">
		    <div class="controls">
		        <input type="submit" value="+ Add resource" class="btn btn-primary"/>
		    </div>
		</div>
	</form>
</template>