<template name="cardsPage">
  <div class="content">
    <div class="panel panel-warning panel-wrapper-small-shim">
	  <div class="panel-heading">
	  	Total power usage
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-brown.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  	<span class="span-unit">W</span><span class="span-value">{{getTotCons}}</span>
	  </div>
	</div>	
	
	<div class="panel-wrapper-shim">=</div>	
	
  	<div class="panel panel-warning panel-wrapper-small-shim">
	  <div class="panel-heading">
	  	Used grid power
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-brown.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  	<span class="span-unit">W</span><span class="span-value">{{getCurCons}}</span>
	  </div>
	</div>
	
	<div class="panel-wrapper-shim">+</div>	
	
	<div class="panel panel-success panel-wrapper-small">
	  <div class="panel-heading">
	  	Produced solar power
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-green.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  	<span class="span-unit">W</span><span class="span-value">{{getCurProd}}</span>
	  </div>
	</div>
	<div style="clear:both"></div>
	<div class="panel panel-warning panel-wrapper-small">
	  <div class="panel-heading">
	  	Used grid energy
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-brown.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  	<span class="span-unit">kWh</span><span class="span-value">{{getCurGridEnergy}}</span>
	  </div>
	</div>
	
	<div class="panel panel-success panel-wrapper-small">
	  <div class="panel-heading">
	  	Produced solar energy
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-green.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  	<span class="span-unit">kWh</span><span class="span-value">{{getCurSolarEnergy}}</span>
	  </div>
	</div>		
	
	<div class="panel panel-info panel-wrapper-small">
	  <div class="panel-heading">
	  	Indoor temperature
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/fire.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  	<span class="span-unit">°C</span><span class="span-value">{{getCurTemp}}</span>
	  </div>
	</div>
	<div class="panel panel-success panel-wrapper-large">
	  <div class="panel-heading">
	  	Outlets
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/power-cord-green.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
		<h3>On</h3>
		{{#each outletsOn}}
			{{> cardItemOnOff}}
		{{/each}}		
	  <hr>
	    <h3>Off</h3>
	    {{#each outletsOff}}
			{{> cardItemOnOff}}
	    {{/each}}
	  </div>
	</div>
	<div class="panel panel-success panel-wrapper-large">
	  <div class="panel-heading">
	  	Outlet power
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/power-cord-green.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  {{#each getPowerMeters}}
		{{> cardItemPower}}
	  {{/each}}
	  </div>
	</div>
	<!--<div class="" style="float: right">
		<button type="button" class="btn btn-default" id="butCsv">download .csv</button>
		<button type="button" class="btn btn-default" id="butJson">download .json</button>
	</div>-->

  </div>

  <!--<div class="demo-container">
      <div id="placeholder" style="width:600px;height:300px"></div>
    </div>

    <p>You can add crosshairs that'll track the mouse position, either on both axes or as here on only one.</p>

    <p>If you combine it with listening on hover events, you can use it to track the intersection on the curves by interpolating the data points (look at the legend).</p>

    <p id="hoverdata"></p>-->
</template>