<template name="cardsPage">
  <div class="content">
  <div class="row">
	  <div class="col-md-3">
		<div class="panel panel-warning panel-wrapper-small-shim">
		  <div class="panel-heading">
			Total power usage
			<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
				<image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-brown.svg"></image>
			</svg>
		  </div>
		  <div class="panel-body" style="text-align: center;">
			<span>{{getTotCons}}</span> <span>W</span>
		  </div>
		</div>	
	  </div>
	  <div class="col-md-1" style="text-align: center">
		<b style="font-size: 24pt">=</b>	
	  </div>
	  <div class="col-md-3">
		  <div class="panel panel-warning panel-wrapper-small">
		  <div class="panel-heading">
			Used grid power (per phase)
			<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
				<image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-brown.svg"></image>
			</svg>
		  </div>
		  <div class="panel-body" style="text-align: center;">
			<span>{{getCurConsL1}} + {{getCurConsL2}} + {{getCurConsL3}} = {{getCurCons}}</span> <span>W</span>
		  </div>
		</div>
	  </div>	 
	  <div class="col-md-1">
		<div class="col-md-1" style="text-align: middle">
			<b style="font-size: 24pt">+</b>		
		</div>	
	  </div>
	  <div class="col-md-3">
		<div class="panel panel-success panel-wrapper-small">
		  <div class="panel-heading">
			Produced solar power
			<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
				<image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-green.svg"></image>
			</svg>
		  </div>
		  <div class="panel-body" style="text-align: center;">
			<span>{{getCurProd}}</span> <span>W</span>
		  </div>
		</div>
	  </div>
</div>
<div class="row">
	  <div class="col-xs-6 col-md-3">
		<div class="panel panel-warning panel-wrapper-small">
		  <div class="panel-heading">
			Used grid energy
			<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
				<image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-brown.svg"></image>
			</svg>
		  </div>
		  <div class="panel-body" style="text-align: center;">
			<span>{{getCurGridEnergy}}</span> <span>kWh</span>
		  </div>
		</div>
	  </div>
	  <div class="col-xs-6 col-md-3">
		<div class="panel panel-success panel-wrapper-small">
		  <div class="panel-heading">
			Produced solar energy
			<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
				<image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/lightning-green.svg"></image>
			</svg>
		  </div>
		  <div class="panel-body" style="text-align: center;">
			<span>{{getCurSolarEnergy}}</span> <span>kWh</span>
		  </div>
		</div>	
	  </div>
	  <div class="col-xs-6 col-md-3">
		<!--<div class="panel panel-info panel-wrapper-small">
		  <div class="panel-heading">
			Indoor temperature
			<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
				<image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/fire.svg"></image>
			</svg>
		  </div>
		  <div class="panel-body" style="text-align: center;">
			<span>{{getCurTemp}}</span> <span>°C</span>
		  </div>
		</div> -->
	  </div>
	  <div class="col-xs-6 col-md-3">
	  </div>
	</div>
    

	
	
	<div style="clear:both"></div>
	
	
	<div class="panel panel-success panel-wrapper-large">
		<div class="panel-heading">
			Graphs
			<a id="year" class="btn">Year</a>
			<a id="month" class="btn">Month</a>
			<a id="week" class="btn">Week</a>
			<a id="24hr" class="btn">24hr</a>
		</div>
		<div class="panel-body container">
			<div id="div_g" style="width:1000px; height:600px; horizontal-align: middle"></div>
			{{#each resources}}
				<div class='row'>
					{{#each row }}
						<div class="col-md-3">
					    <input type=checkbox id="{{plcVar}}">
						<label for="{{plcVar}}"> {{title}} {{#if unit}}[{{unit}}]{{/if}}</label><br/>
						</div>
					{{/each}}
				</div>
			{{/each}}
			<!--<p><b>Show Series:</b></p>
			<div class="row">		
			  <div class="col-md-1">
			  {{#each resources}}
				
			  {{/each}}
			  </div>
			</div>-->
		</div>
	</div>
	
	
	<div class="panel panel-success panel-wrapper-large">
	  <div class="panel-heading">
	  	Outlets
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/power-cord-green.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
		<h3>On</h3>
		{{#each outletsOn}}
			{{> cardItemOnOff}}
		{{/each}}		
	  <hr>
	    <h3>Off</h3>
	    {{#each outletsOff}}
			{{> cardItemOnOff}}
	    {{/each}}
	  </div>
	</div>
	<div class="panel panel-success panel-wrapper-large">
	  <div class="panel-heading">
	  	Outlet power
	  	<svg style="float: right;" height="20" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	        <image x="0" y="0" height="20" width="20"  xlink:href="/Icons/SVG/power-cord-green.svg"></image>
		</svg>
	  </div>
	  <div class="panel-body">
	  {{#each getPowerMeters}}
		{{> cardItemPower}}
	  {{/each}}
	  </div>
	</div>
	<!--<div class="" style="float: right">
		<button type="button" class="btn btn-default" id="butCsv">download .csv</button>
		<button type="button" class="btn btn-default" id="butJson">download .json</button>
	</div>-->

  </div>

  <!--<div class="demo-container">
      <div id="placeholder" style="width:600px;height:300px"></div>
    </div>

    <p>You can add crosshairs that'll track the mouse position, either on both axes or as here on only one.</p>

    <p>If you combine it with listening on hover events, you can use it to track the intersection on the curves by interpolating the data points (look at the legend).</p>

    <p id="hoverdata"></p>-->
</template>