<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
    	<ul class="nav">
    		<li><a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> NEED4B</a></li>
    		<li class="divider-vertical"></li>
    		<li><a class="" href="{{scenariosListPath}}"><span class="glyphicon glyphicon-play"></span> Scenarios</a></li>
    		<li class="divider-vertical"></li>
            <li><a class="" href="{{dataPagePath}}"><span class="glyphicon glyphicon-signal"></span> Data</a></li>
            <li class="divider-vertical"></li>
    		<li><a class="" href="{{resourcePagePath}}"><span class="glyphicon glyphicon-resize-horizontal"></span> Resources</a></li>
    		<li class="divider-vertical"></li>
    		<li><a class="" href="{{settingsPagePath}}"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
    		<li class="divider-vertical"></li>
    		<li><a class="" href="{{documentationPagePath}}"><span class="glyphicon glyphicon-book"></span> Docs</a></li>
    		<li class="divider-vertical"></li>
    		<li><a class="" href="{{logsPagePath}}"><span class="glyphicon glyphicon-list-alt"></span> Logs</a></li>
    		<li class="divider-vertical"></li>
    	</ul>
    </div>
  </header>
</template>