<template name="dashboardPage">
  <div class="dashboard-content" style="display: block; float: left">
    <div style="position: relative; padding: 100px 30px 30px 30px">
      <div style="position: absolute; left: 30px; top: 0px">
        <span class="glyphicon glyphicon-home" style= "font-size: 200px; margin: 120px 50px 50px 50px"></span>
      </div>
      <div style="position: absolute; left: 80px; top: 260px">
        <svg style="float: right;" height="80" width="80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
              <image x="0" y="0" height="80" width="80"  xlink:href="/Icons/SVG/leaf.svg"></image>
        </svg>
      </div>
    </div>
    <!--GRAPH!!! <div id="container" style="height: 610px; margin: auto; min-width: 310px; width: 600px; padding: 80px 40px 0px 60px">-->
  </div>
  <div class="jumbotron">
    <div class="containter" style="margin: 0px 0px 0px 300px">
      <h1>Welcome to NEED4B</h1>
        A simple web based control system for the NEED4B-house. The house control is performed through a set of <b>scenarios</b>.
        Each scenario contains <b>rules</b>. A rule decides when a given <b>resource</b> should change value, and what value that should be.
        A resource can for example be a heat pump, a lamp, an outlet or anything else that is actively controlled by the control
        system in the house.

      <p><a href="{{documentationPagePath}}" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
  </div>
</template>
