<template name="dashboardPage">
  <div class="dashboard-content" style="display: block; float: left">
    <div style="position: relative; padding: 100px 30px 30px 30px">
      <div style="position: absolute; left: 30px; top: -35px">
        <span class="glyphicon glyphicon-home" style= "font-size: 200px; margin: 120px 50px 50px 50px"></span>
      </div>
      <div style="position: absolute; left: 80px; top: 225px">
        <svg style="float: right;" height="80" width="80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
              <image x="0" y="0" height="80" width="80"  xlink:href="/Icons/SVG/leaf.svg"></image>
        </svg>
      </div>
    </div>
    <!--GRAPH!!! <div id="container" style="height: 610px; margin: auto; min-width: 310px; width: 600px; padding: 80px 40px 0px 60px">-->
  </div>
  <div class="jumbotron">
    <div class="containter" style="margin: 0px 0px 0px 300px">
      <h1>Welcome to NEED4B</h1>
        A simple web based control system for the NEED4B-house. The house control is performed through a set of <b>scenarios</b>.
        Each scenario contains <b>rules</b>. A rule decides when a given <b>resource</b> should change value, and what value that should be.
        A resource can for example be a heat pump, a lamp, an outlet or anything else that is actively controlled by the control
        system in the house.

      <p style="margin-top:10px"><a href="{{pathFor 'documentationPage'}}" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
    <div class="panel panel-default" style="margin-top: 60px">
      <div class="panel-heading">
        <h3 class="panel-title"><span style="color:rgba(241,196,15,1.0)">Solar production</span> vs <span style="color:rgba(46,204,113,1.0)">bought electricity</span></h3>
      </div>
      <div class="panel-body">
        <canvas id="barChartSolar" width="800" height="200"></canvas>
      </div>
    </div>
  </div>
</template>
