<template name="ruleSubmit">
  <form class="main">

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your post"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="resource">Resource</label>
        <div class="control-group">
            <select id="resource_select">
                {{#each resources}}
                  <option name="resource" value="{{_id}}">{{title}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="value">value</label>
        <div class="controls">
            {{#if valueTypeIsDigital}}
                <input name="Value" value="your_value" type="checkbox">
            {{/if}}
            {{#if valueTypeIsAnalog}}
                <input type="range" name="points" min="{{min}}" max="{{max}}" id="valrange"> {{sliderVal}} {{unit}}
            {{/if}}
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>