<template name="ruleEdit">
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Edit rule<span class="glyphicon glyphicon-pencil" style="float: right"></span></div>
{{#with rule}}
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Name your rule"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="resource">Resource</label>
        <div class="control-group">
            <select id="resource_select">
                {{#each resources}}
                  <option name="resource" value="{{_id}}" {{isSelected _id getSelected}}>{{title}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Value">Value</label>
        <div class="controls">
        {{#if valueTypeIsDigital resourceId}}
          <!--<div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="valcheckbox" {{isChecked isTrue true}}>
              <label class="onoffswitch-label" for="myonoffswitch">
                  <div class="onoffswitch-inner"></div>
                  <div class="onoffswitch-switch"></div>
              </label>
          </div>-->
          <input name="Value" id="valcheckbox" value="your_value" type="checkbox" {{isChecked isTrue true}}/>
          {{/if}}
          {{#if valueTypeIsAnalog resourceId}}
              {{min }} {{unit}} <input type="range" name="points" min="{{min}}" max="{{max}}" id="valrange" value="{{value}}"> {{max}} {{unit}} New value: {{sliderVal}} {{unit}} Current value: {{value}} {{unit}}
          {{/if}}
        </div>
    </div> 

    <div class="control-group">
        <label class="control-label" for="timerule">Time rule</label>
        <div class="controls">
            <input name="timerule" id="timerule" type="text" value="{{timerule}}" placeholder="at 15:00 every weekday" required/>
            <p id="nextOccurrence"></p>
            <p class="help-block"><button class="btn" id="verify">Verify</button></p>
        </div>

    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <!--<input type="submit" value="Submit" class="btn btn-primary"/>-->
            <button id="submit-btn" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>  Save</button>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-danger delete" href="#"><span class="glyphicon glyphicon-trash"></span>  Delete rule</a>
        </div>
    </div>
  </form>
  {{/with}}
  </div>
  <div class="highlight">
    <h2>Time rule examples</h2>
      <p><span>"on the first day of the week"</span><span>// fires every Sunday</span></p>
      <p><span>"on the last day of the month"</span><span>// fires on the last day of every month</span></p>
      <p><span>"on the 15th through 20th day of the month"</span><span>// fires every day between the 15th and 20th day every month</span></p>
      <p><span>"every 5 mins every weekend"</span><span>// fires every 5 minutes on Saturday and Sunday</span></p>
      <p><span>"every 20 mins starting on the 7th min"</span><span>// fires on the 7th, 27th, and 47th minute every hour</span></p>
      <p><span>"after 12th hour"</span><span>// fires every hour after noon every day</span></p>
      <p><span>"before 12th hour"</span><span>// fires every hour before noon every day</span></p>
      <p><span>"at 5:00 pm"</span><span>// fires at 5:00pm every day</span></p>
      <p><span>"at 5:00 pm on Weds,Thurs and Fri"</span><span>// fires at 5:00pm on Wednesday, Thursday, and Friday</span></p>
      <p><span>"at 5:00 pm every 1 day of March in 2014"</span><span>// fires at 5:00pm every day of March in 2014</span></p>
  </div>
</template>