<template name="ruleSubmit">
  <form class="main">

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your rule"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="resource">Resource</label>
        <div class="control-group">
            <select id="resource_select">
                {{#each resources}}
                  <option name="resource" value="{{_id}}">{{title}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="value">value</label>
        <div class="controls">
            {{#if valueTypeIsDigital}}
                <input name="Value" id="valcheckbox" value="your_value" type="checkbox">
            {{/if}}
            {{#if valueTypeIsAnalog}}
                <input type="range" name="points" min="{{min}}" max="{{max}}" id="valrange"> {{sliderVal}} {{unit}}
            {{/if}}
        </div>
    </div> 

    <div class="control-group">
        <label class="control-label" for="timerule">Time rule</label>
        <div class="controls">
            <input name="timerule" id="timerule" type="text" value="" placeholder="weekdays at 14:00" required/>
            <p id="nextOccurrence"></p>
            <p class="help-block"><button class="btn" id="verify">Verify</button></p>
        </div>

    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
  <div class="highlight">
    <h2>Time rule examples</h2>
      <p><span>"on the first day of the week"</span><span>// fires every Sunday</span></p>
      <p><span>"on the last day of the month"</span><span>// fires on the last day of every month</span></div></p>
      <p><span>"on the 15th through 20th day of the month"</span><span>// fires every day between the 15th and 20th day every month</span></p>
      <p><span>"every 5 mins every weekend"</span><span>// fires every 5 minutes on Saturday and Sunday</span></p>
      <p><span>"every 20 mins starting on the 7th min"</span><span>// fires on the 7th, 27th, and 47th minute every hour</span></p>
      <p><span>"after 12th hour"</span><span>// fires every hour after noon every day</span></p>
      <p><span>"before 12th hour"</span><span>// fires every hour before noon every day</span></p>
      <p><span>"at 5:00 pm"</span><span>// fires at 5:00pm every day</span></p>
      <p><span>"at 5:00 pm on Weds,Thurs and Fri"</span><span>// fires at 5:00pm on Wednesday, Thursday, and Friday</span></p>
      <p><span>"at 5:00 pm every 1 day of March in 2014"</span><span>// fires at 5:00pm every day of March in 2014</span></p>
  </div>
</template>